<div class="container mt-5">
    <h2>Registro de preguntas para la Encuesta</h2>
    <h5>{{encuesta.titulo}}</h5>
    <p class="small">{{encuesta.descripcion}}</p>
    <form action="/administrar/encuestas/programar/preguntas/nuevo/{{encuesta.id}}" method="POST">
        <div class="form-group">
            <label for="pregunta">Pregunta para la Encuesta</label>
            <textarea class="form-control" id="pregunta" name="pregunta" rows="3"
                placeholder="Ingrese la pregunta para la Encuesta" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Registrar Pregunta</button>
    </form>
</div>