<main>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="forgot-container p-4 shadow-lg rounded">
            <h2 class="text-center mb-4">Confirmación de correo</h2>
            <p class="mb-4 text-center">Pulsa aqui para confirmar el cambio de correo electrónico.</p>
            <!-- El formulario para restablecer la contraseña -->
            <form method="post" action="/perfil/actualizar/correo/{{email}}/{{token}}">
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label font-weight-bold text-center">Email</label>
                    <div class="col-sm-10">
                        <input name="email" type="text" readonly class="form-control-plaintext text-center" id="email" value="{{email}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Confirmar correo electrónico.</button>
            </form>
            <div class="footer-links mt-4 text-center">
                <a href="/login" class="text-decoration-none">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</main>
