<main>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="forgot-container">
            <div class="avatar">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <h2>Actualizar Contraseña</h2>
            <p class="mb-4">Introduce tu nueva contraseña a continuación.</p>

            <!-- El formulario para restablecer la contraseña -->
            <form method="post" action="/update/password/token">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input class="form-control" id="password" name="password" type="password" placeholder="Nueva contraseña" required="required" aria-describedby="password-addon" autocomplete="new-password">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a class="text-dark" onclick="togglePasswordVisibility('password', 'password-icon')">
                                <i id="password-icon" class="fa fa-eye-slash" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="confirm-password-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input class="form-control" id="confirm-password" name="confirm_password" type="password" placeholder="Confirmar contraseña" required="required" aria-describedby="confirm-password-addon" autocomplete="new-password">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a class="text-dark" onclick="togglePasswordVisibility('confirm-password', 'confirm-password-icon')">
                                <i id="confirm-password-icon" class="fa fa-eye-slash" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <small class="form-text text-muted">La contraseña debe contener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un dígito y un signo.</small>
                <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
            </form>

            <div class="footer-links mt-4">
                <a href="/login">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
    {{> script/togglePasswordVisibility}}
</main>