<main>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-fw fa-home"></i>
                    Inicio
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/administrar">
                    <i class="fa fa-fw fa-cogs"></i>
                    Administrar
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/administrar/encuestas">
                <i class="fa fa-fw fa-check-square-o"></i>
                Encuestas
                </a>
            </li>
            <li class="breadcrumb-item active">
                <i class="fa fa-fw fa-plus-circle "></i>
                Nuevo
            </li>
        </ol>
    </div>
    <div class="container">
        <form id="encuestaForm">
            <fieldset>
                <legend>Nueva encuesta de participación</legend>

                <div class="form-group">
                    <label for="titulo">Título de la encuesta</label>
                    <input type="text" class="form-control" id="titulo" aria-describedby="tituloHelp" placeholder="Ingrese título de la encuesta">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción de la encuesta</label>
                    <textarea class="form-control" id="descripcion" rows="3"></textarea>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="fecha_inicio">Fecha y hora del inicio:</label>
                        <input class="form-control" id="fecha_inicio" type="datetime-local" placeholder="Selecciona fecha y hora">
                    </div>

                    <div class="col">
                        <label for="fecha_final">Fecha y hora del final:</label>
                        <input class="form-control" id="fecha_final" type="datetime-local" placeholder="Selecciona fecha y hora">
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary mx-2"><i class="fa fa-fw fa-floppy-o"></i> Guardar</button>
                    <a href="/administrar/encuestas/" class="btn btn-outline-info mx-2"><i class="fa fa-fw fa-ban"></i> Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#encuestaForm').on('submit', function(event) {
            event.preventDefault();
            const data = {
                id:{{{encuesta.id}}},
                titulo: $('#titulo').val(),
                descripcion: $('#descripcion').val(),
                fecha_inicio: $('#fecha_inicio').val(),
                fecha_final: $('#fecha_final').val(),
            };
            console.log(data);
            $.post('/administrar/encuestas/nuevo', data, function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Encuesta registrada exitosamente',
                    showConfirmButton: true,
                    timer: 10000
                }).then(()=>{
                    window.location.href = '/administrar/encuestas';
                });
            }).fail(function(xhr) {
                let message = 'Error interno del servidor';
                if (xhr.status === 409) {
                    const errorData = xhr.responseJSON;
                    message = `Error: ${errorData.message}`;
                } else if (xhr.status === 400) {
                    message = 'Faltan claves requeridas';
                }
                Swal.fire({
                    icon: 'error',
                    title: message,
                    showConfirmButton: true
                });
            });
        });
    });
</script>