<!DOCTYPE html>
<html lang="es">

<head>
    {{> head/meta}}
    {{> head/title}}
    {{> head/style/cdn/css/googlefonts}}
    {{> head/style/cdn/css/bootstrap_4_6_2}}
    {{> head/style/cdn/css/jqueryui_1_12_1}}
    {{> head/style/cdn/css/font-awesome_4_7_0}}
    {{> head/style/cdn/css/sweetalert2_11_12_3}}
    {{> script/cdn/js/bootstrap_4_6_2}}
    {{> head/style/favicon}}
    <link rel="stylesheet" href="/css/authentication.css">
</head>

<body>
    {{{ body }}}
    {{> body/flash-alert}}
    
</body>

</html>