<!DOCTYPE html>
<html lang="en">
<head>
    {{> head/meta}}
    <title>Página No Encontrada</title>
    {{> head/style/cdn/css/googlefonts}}
    {{> head/style/cdn/css/bootstrap_4_6_2}}
    {{> head/style/cdn/css/jqueryui_1_12_1}}
    {{> head/style/cdn/css/font-awesome_4_7_0}}
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    {{{body}}}
</body>
</html>